html, body{
    height: 100%;
}
#game-name {
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}
.cont > .btn {
    border-radius: 50%;
    font-size: 40px;
    width:100px;
    height: 100px;
}
#reset { 
    text-align: center;
}

.button-override{
    font-size:18px !important;
 }
@media (min-width:800px){
    html {
        font-size: 25px;
    }
    .cont > .btn {
        font-size: 80px;
        width:200px;
        height: 200px;
    }
}